body{
    margin: 0;
    padding: 2em;
    background-image:linear-gradient(0deg, transparent 19px, #ccc 20px), linear-gradient(90deg, transparent 19px, #ccc 20px);
    background-size: 20px 20px;
    font-family: cursive,'Comic Sans'
}
nav{
    background-color: #17949d;
    position: fixed; top: 0px;
    left: 0;
    right: 0;
    z-index: 10;
}
ul{
    height: 0;
    overflow: hidden;
    transition: .3s;
    list-style: none;
}
li a{
    padding: 8px;
    font-size: 16px;
    color: rgb(105, 246, 239);
    display: block;
    text-align: center;
    text-decoration: none;
}
.hamburger{
    position: fixed; top: 3px; right: 32px;
    cursor: pointer;
    width: 32px;
    height: 24px;
    z-index: 10;
}
.hamburger span{
    transition: all .3s;
    position: absolute;
    height: 2px;
    background-color: #333333;
    width: 100%;
    z-index: 0;
}
.hamburger span:nth-of-type(1){
    top: 4px;
}
.hamburger span:nth-of-type(2){
    top: 12px;
}
.hamburger span:nth-of-type(3){
    top: 20px;
}
.hamburger.open span:nth-of-type(1){
    top: 10px;
    transform: translateY(6px) rotate(-33deg);
}
.hamburger.open span:nth-of-type(2){
    opacity: 0;
}
.hamburger.open span:nth-of-type(3){
    top: 22px;
    transform: translateY(-6px) rotate(33deg);
}
.contentdiv{
    display: flex;
}
.box7{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #474747;
    background: whitesmoke;
    border-left: double 7px #4ec4d3;
    border-right: double 7px #4ec4d3;
    
}
.box7 p {
    margin: 0; 
    padding: 0;
}
#hapiend{
    height: 200px;
}
#aoi{
    height: 200px;
}
#kuso{
    height: 200px;
}